:root{
  --brownish-pink:#9C6359;
  --light-grey:rgb(170, 177, 184);
  --grey: #546472;
  --brown: #3F2927;
  --other-brownish-pink: #7D524D;
  --white: #d7bbb7;
  --pink: rgb(178, 88, 87);
  --light-pink: rgb(227, 146, 153);
  --blue: #546472;
  --gradient: linear-gradient(217deg, var(--pink),  rgba(255,0,0,0) 90%),
            linear-gradient(127deg, var(--light-pink),rgba(0,255,0,0) 40%),
            linear-gradient(336deg, var(--blue), rgba(0,0,255,0) 100%);
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:wght@400;600&display=swap');
/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Open Sans', sans-serif; */
* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
body {
  background: var(--gradient);
  background-image: var(--gradient);
  background-size: 300%;
	color:var(--white);
  animation: bg-animation 6s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.about {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

.top a {
  float: right;
  background-color: transparent;
  border: none;
  color: var(--white);
  font-size: 60px;
}

.top a:hover{
  color: var(--other-brownish-pink);
}

.about h1 {
  text-shadow: -2px 2px var(--blue);
}

.about-info {
  background-color:rgba(178, 88, 87,.3);
  font-size: 20px;
  padding: 20px; 
}

.about-info span {
  font-size: 24px;
  color: white;
}

.about-riana .riana {
  display: block;
  width: 300px;
  height: auto;
  border-radius: 50%;
  margin: auto;
}

@media screen and (min-width: 768px){
  .about-riana .riana {
    margin-right: 2em;
    float: left;
    shape-outside: circle();
  }
}

.about-riana{
  min-height: 350px;
  background-color:rgba(178, 88, 87,.3);
  font-size: 20px;
  padding: 20px; 
}

.about-riana a {
  color: var(--blue);
  font-weight: 700;
}

.about-riana a:hover{
  color: var(--other-brownish-pink);
}

.about hr{
  width: 90%;
  height: 1px;
  margin: 20px auto;
  background-color: rgba(178, 88, 87,.4);
  border: none;
}

.about ul{
  margin-left: 20px;
}

/* image overlay styling from w3 schools */
.container {
  position: relative;
  width: 65%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .5s ease;
  background-color: var(--blue);
}

.container:hover .overlay {
  opacity: 0;
}

.text {
  color: white;
  font-size: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text i {
  font-size: 50px;
  color: var(--light-grey)
}

@media screen and (max-width: 768px){
  .container, .above-container{
    display: none;
  }
}

.nav {
  background-color: transparent;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
}

.nav .logo {
  margin-left: 20px;
  margin-top: 8px;
}

.nav .form-toggle button, .nav .form-toggle div{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  background-color: transparent;
  border: none;
  margin: 0 20px;
  color: var(--white)
}

/* .nav .form-toggle {
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
}

.nav .header-items {
  font-size: 20px;
  margin-right: 10px;
} */

nav {
  padding: 5px 0 5px 0px;
  padding-top: 0px;
}

.book-img-logo {
  height: 50px;
  padding-top: 3px;
}

.form {
  max-width: 600px;
  margin: auto;
  background-color: rgba(215, 187, 183, .2);
}

.form, .form-title {
  padding: 20px;
}

.input-field label {
  color: var(--pink);
  font-size: 20px;
}

.input-field input[type=text]:focus + label {
  color: var(--blue);
}
 input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid var(--pink);
    -webkit-box-shadow: 0 1px 0 0 #26a69a;
    box-shadow: 0 1px 0 0 var(--pink);
}

.home .hero-img {
  text-align: center;
  padding: 200px 0;
}

.home .hero-img h1 {
  font-size: 100px;
  font-weight: 700;
  text-shadow: -6px 6px var(--grey);
}

.home .hero-img h4 {
  text-shadow: -3px 3px 3px var(--grey);
}
@media screen and (min-width: 768px){
  .home .hero-img h1{
    font-size: 150px;
  }
  .home .hero-img h4 {
    font-size: 50px;
  }
}


.lists-logo {
  text-align: center;
}

.lists-logo h1 {
  font-size: 80px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: -5px 5px var(--grey);
  letter-spacing: 4px;
}

.lists .three-lists{
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  padding: 0 20px;
  margin: auto;
}

.list {
  width: 33%;  
}

.new-books form{
  box-sizing: border-box;
}

.new-books form input{
  width:100%;
  border: none;
  color: var(--other-brownish-pink);
  font-size: 15px;
  margin-left: 5px;
  margin: 3px 0;
  background-color: var(--white);
  padding-left: 5px;
}
.new-books form{
  padding: 0 20px;
}

@media screen and (min-width: 768px){
  .lists .new-books{
    text-align: center;
    margin: 10px 0 20px 0;
  }

  .lists .new-books form input{
    margin: 3px 3px;
    max-width: 300px;
  }

  .lists .new-books form button {
  margin: 0 0 10px 5px;

}
}
::placeholder {
  color: var(--pink)
}


.lists .new-books form .text-field:hover,
.lists .new-books form .text-field:focus{
  background-color: white;
}


.list h3 {
  text-align: center;
  padding: 10px 0;
  font-size: 25px;
  background-color: var(--blue);
}

@media screen and (max-width: 768px){
  .list h3{
    height: 70px;
  }

  .lists .three-lists{
    display: block;
    padding: 0 20px;
    margin: auto;
  }

  .list {
    width: 100%;
  }

}

.book-info {
  color: var(--brown);
  margin: 5px 0;
  padding: 2px 5px;
  border: 1px solid rgb(170, 177, 184);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book-btns button, .book-info button {
  background-color: transparent;
  border: none;
  color: var(--white)
}

.book-btns button:hover, .book-info button:hover{
  color: var(--light-pink)
}

.book-info .clicked{
  color: var(--pink);
}

.footer {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 20px;
  background-color: transparent;
}